/* GENERAL STYLES */
body{
    margin: 0;
}
label{
    display: inline-block;
    margin-top: 10px;
}
h1{
    text-align: center;
}

/* CLASS SPECIFIC STYLES */

form input{
    display:block;
}
form select{
    display:block;
}
.navbar{
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
    background-color: black;
    z-index: 1;
    position: relative;
}
.navbar-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    margin:0px 140px 0px 0px;
}
.nav-anchor{
    color: white;
    text-decoration: inherit;
    padding: 0px 0px 12px 0px;
}
.drop-down-content{
    position: absolute;
    top: 50px;
    left: 840px;
}
.drop-down-item{
    display: none;
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 5px ;
    background-color: black;
    border: 1px solid black;
}
.drop-down-item:hover{
    display: block;
    background-color: white;
    color:black;
}
.drop-down:hover .drop-down-item{
    display: block;
}
.bio-container{
    display: block;
    margin: auto;
    width: 600px;
}
.main-contact-container{
    display: flex;
    justify-content: flex-start;
}
.main-container{
    margin-right: 140px;
}
.secondary-content-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.secondary-content-container div{
    margin: 0px 50px 0px 50px;
}
.contact-form{
    margin-top: 20px;
    width: 300px;
}
.pizza-checkbox{
    display: inline-block;
}
.sidebar{
    height: 100%;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 65px;
    text-align: center;
    border-left: 1px solid grey;
    background-color: papayawhip;
    z-index: 0;
}
.sidebar p{
    text-align: center;
    margin-top: 0px;
    color: black;
}
.sidebar a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color:black;;
}
.contact-form-button{
    margin-top: 10px;
}
.footer-container{
    background-color: darkgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    border: 1px solid black;
}
.copyright-year{
    text-align: center;
}
.social-media-list{
    display:flex;
    justify-content: center;
    padding: 0;
}
.social-media-link{
    margin: 0px 10px 0px 10px;
    list-style-type: none;
}
.social-media-anchor{
    text-decoration: none;
    color: black;
}