/* GENERAL STYLES */
body{
    /* margin-right: 140px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px; */
    margin: 0px 140px 0px 0px;
}
label{
    display: inline-block;
    margin-top: 10px;
}
h1{
    text-align: center;
}

/* CLASS SPECIFIC STYLES */

form input{
    display:block;
}
form select{
    display:block;
}
.navbar{
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
    background-color: black;
}
.navbar-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    margin:0px;
}
.nav-anchor{
    color: white;
    text-decoration: inherit;
}
.bio-container{
    display: block;
    margin: auto;
    width: 600px;
}
.main-content-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-content-container div{
    margin: 0px 50px 0px 50px;
}
.contact-form{
    display: inline-block;
    margin-top: 20px;
    width: 300px;
}
.pizza-checkbox{
    display: inline-block;
}
.sidebar{
    height: 100%;
    width: 140px;
    position: absolute;
    z-index: 1;
    background-color: rgb(190, 190, 190);
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 15px;
    text-align: center;
}
.sidebar p{
    text-align: center;
    margin-top: 0px;
    color: black;
}
.sidebar a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color:black;;
}