.main{
    width: 60%;
    margin: auto;
}
.product-filter{
    display: flex;
    justify-content: center;
    margin: 100px 0px 0px 0px;
    background-color: #DBDBE1;
    padding: 10px 0px 10px 0px;

    .product-filter__input{
        margin: 0px 10px 0px 0px;
    }
    .product-filter__h4{
        margin: 0px 60px 0px 0px;
    }
}
.product-list{
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;

    .product-item{
        margin: 20px auto 0px 0px;
        width: 33%;
        img{
            width: 100px;
            height: 100px;
        }
        h4{
            width: 80%;
        }
        p{
            width: 80%;
        }
    }
}